body,
html {
    margin: 0;
    padding: 0;
}

#wrap_all {
    overflow: hidden;
    font-family: 'nunito sans', Helvetica, Arial, sans-serif;
}

#wrap_all>.container {
    padding: 30px;
}

#header_top {
    background-image: url("recursos/imágenes/cabecera.jpg");
    overflow: hidden;
    background-size: cover;
}

#btnContacto {
    display: inline-block;
    padding: 11px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    background-color: #60a9bf;
    color: #ffffff;
}

#btnContacto:hover {
    background-color: white;
    color: #60a9bf;
}

#header_top>.container {
    height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

#header_main {
    margin-top: 20px;
}

#sectorElectrico {
    padding: 20px 0;
    text-align: center;
    background-image: url(recursos/imágenes/banner_contacto.jpg);
    color: white;
    background-size: cover;
}

#header_main .container {
    height: 130px;
}

.inner-container {
    position: relative;
    height: 100%;
    width: 100%;

}

.main_menu {
    position: absolute;
    right: 10%;
    top: 20px;
}

.main_menu ul {
    margin: 0;
    padding: 0;
    list-style: none outside;
}

.main_menu li {
    float: left;
    position: relative;
    z-index: 20;
}

#header_top .main_menu li a {
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 34px !important;
    padding-right: 0px !important;
    color: #ffffff;
}

#servicios {
    display: flex;
}

#clientes {
    display: flex;
    width: 100%;
}

.cliente {
    margin: 10px;
    padding: 15px;
    width: 20%;
}

#clientes .cliente img {
    margin: 0 auto;
    display: block;

}

.servicio {
    text-align: center;
    margin: 10px;
    padding: 15px;
}

.titulo_servicio {
    font-weight: bold;
    font-size: 20px;
}

p {
    margin: 0.85em 0;
}

.texto_servicio {
    font-weight: normal;
    font-size: 16px;
    color: #6b7280;
}


#tituloEstudiosMontajes {
    font-weight: bold;
    font-size: 50px;
    color: white;
}

#subtituloEstudiosMontajes {
    font-size: 38px;
    font-weight: normal;
    color: white;
}

#sectorElectrico h3 {
    font-size: 30px;
    font-weight: bold;
}

#sectorElectrico div p {
    font-size: 26px;
    font-weight: normal;
}

.titulo {
    font-size: 30px;
    font-weight: bold;
    color: #60a9bf;
    text-align: center;
}

.subtitulo {
    font-size: 26px;
    font-weight: normal;
    text-align: center;
}


.container {
    padding: 0px 160px;
}

.letraMedia {
    font-size: 16px;
    font-weight: 600;
}

#phone-info {
    float: right;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
    line-height: 20px;
    color: #ffffff;
    margin-right: 10%;
}

#main {
    border-color: transparent;
}


.containerNoticia {
    display: table-cell;
    padding: 20px;
    box-shadow: 5px 20px 0 rgb(0 0 0 / 3%), 5px 5px 20px rgb(0 0 0 / 10%);
}

.containerNoticia * {
    width: 100%;
}

.containerNoticia img {
    border-radius: 15px;
}

.leerMas {
    font-weight: bold;
    font-size: 16px;
    color: #60a9bf;
}

#visitaBlog {
    margin: 60px 0 60px 0;
    display: block;
    text-align: center;
}

#visitaBlog span {
    padding: 11px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
    border: #60a9bf solid;
    background-color: white;
    color: #60a9bf;
}

footer {
    background-color: #1f2937;
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.infoFooter {
    padding: 10px 80px;

}

.infoFooter * {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;

}

.infoFooter .tituloFooter {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

#copyright {
    padding: 9px;
    background-color: #60a9bf;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    color: white;

}